<section id="house" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_house">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class="img-fluid" src="{{house.Portada}}" alt="{{house.Titulo}}"></p>
                            <h4 class="card-title">{{house.Titulo}}</h4>
                            <p class="card-text">
                                {{house.Descripcion}}
                            </p>
                            <a href="{{house.Link" target="_blank" class="btn btn-block btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>